@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin section {
  box-sizing: border-box;
  padding-left: 120px;
  padding-right: 120px;
}

@mixin section-first {
  margin-top: 50px;
}
