include ../../../views/helpers/mixins

section.contact-us__title.page__section
  +page-heading('Contact Us', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'page-heading__subtitle_contact-us')
  include ../form/form
