header.header
    .header__logo
        img(src='./img/svg/logo.svg' alt='Логотип')
    nav.header__links
        ul.list
            li.list__item Home
            li.list__item About Us
            li.list__item Services
            li.list__item Our Teams
        button.button.button__primary Contact Us