.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    align-items: center;
    gap: 74px;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 74px;

    &__item {
      cursor: pointer;
      text-decoration: none;
      color: $black50;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;

      &_active {
        font-family: $font-semibold;
      }
    }

    &__item:hover {
      opacity: .6;
      border-bottom: 1px solid $gray;
    }
  }
}
