header.header.page__header
    include ../../components/logo/logo
    nav.header__links
        ul.list
            li.list__item Home
            li.list__item About Us
            li.list__item Services
            li.list__item Our Teams
        button.button.button__primary Contact Us