include ../../../views/helpers/mixins

mixin menu(title, url)
  li
    a.menu__item(href=url class!=attributes.class)= title

header.header.page__header
  include ../../components/logo/logo
  nav.header__links
    ul.menu
      +menu('Home', './index.html')(class='menu__item_active')
      +menu('About Us', './about-us.html')
      +menu('Services', './services.html')
      +menu('Our Teams', './our-teams.html')
    +link-button('button__primary', 'Contact Us', './contact-us.html')