.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__links {
    display: flex;
    align-items: center;
    gap: 74px;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 74px;
  }

  &__burger {
    display: none;
  }
}

@media screen and (max-width: 1260px) {
  .header__links {
    gap: 50px;
  }

  .header__list {
    gap: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .header__links {
    display: none;
  }

  .header__burger {
    display: flex;
  }
}
