include ../../../views/helpers/mixins

section.about-title.page__section
  +page-title-banner('About', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', './img/page-about-us/about-us-banner.png', 'subtitle_about')