.page-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  &__title {
    margin: 0;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    color: $black;
  }

  &__subtitle {
    max-width: 518px;
    margin: 0 0 21px;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $black;
    text-align: center;

    &_about {
      max-width: 582px;
      margin-bottom: 50px;
    }

    &_contact-us {
      margin-bottom: 50px;
    }
  }

  &__image {
    max-width: 1200px;
    width: 100%;
    aspect-ratio: 1200 / 513;
    object-fit: cover;
    object-position: center;
    background-color: $blue;
  }
}

@media screen and (max-width: 1024px) {
  .page-heading__subtitle_about {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .page-heading {
    gap: 20px;

    &__title {
      font-size: 32px;
      line-height: 100%;
    }

    &__subtitle {
      font-size: 16px;

      &_contact-us {
        margin-bottom: 30px;
      }
    }
  }
}
