.menu__item {
  cursor: pointer;
  text-decoration: none;
  color: $black50;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  &_active {
    font-family: $font-semibold;
  }
}

.menu__item:hover {
  opacity: .6;
  border-bottom: 1px solid $gray;
}
