include ../../../views/helpers/mixins

mixin product__list(number, title, subtitle, url)
  li.product__item
    a(href=url).product__wrap
      span.product__number= number
      span.product__grow= title
      .product__arrow
      span.product__text= subtitle

section.product.page__section
  +border-section('Product')
  .product__container
    p.product__title Choose your product themes.
    span.product__subtitle Find the theme you want. If our choice of theme is not what you want, you can customize it as you want.
  ul.product__list
    +product__list('01', 'Vintage', 'the use of simple and limited elements to get the best effect or impression.', '/404.html')
    +product__list('02', 'Minimalist', 'the use of simple and limited elements to get the best effect or impression.', '/minimalist-room.html')
    +product__list('03', 'Modern', 'the use of simple and limited elements to get the best effect or impression.', '/404.html')
    +product__list('04', 'Transitional', 'the use of simple and limited elements to get the best effect or impression.', '/404.html')
