.button {
  cursor: pointer;
  max-width: 142px;
  max-height: 49px;
  box-sizing: border-box;
  padding: 14px 32px;
  border: transparent;
  text-decoration: none;
  font-family: $font-medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  transition: opacity .3s ease;

  &__primary {
    background-color: $blue;
    color: $white;
  }

  &__banner {
    background-color: $white;
    color: $black50;
  }

  &__secondary {
    max-width: 159px;
    padding: 13px 31px;
    background-color: $white;
    color: $black50;
    border: 1px solid $black30;
  }
}

.button:hover {
  opacity: .8;
}
