.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 142px;
  max-height: 49px;
  box-sizing: border-box;
  padding: 14px 32px;
  border: transparent;
  text-decoration: none;
  font-family: $font-medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  transition: opacity .3s ease;

  &_primary {
    background-color: $blue;
    color: $white;
  }

  &_banner {
    grid-area: button;
    background-color: $white;
    color: $black50;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &_secondary {
    max-width: 159px;
    padding: 13px 31px;
    background-color: $white;
    color: $black50;
    outline: 1px solid $black30;
  }
}

.button:hover {
  opacity: .8;
}
