.intro {
  @include section;
  @include section-first;
  position: relative;

  &__container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 681px;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    color: $black50;
  }

  &__border {
    position: absolute;
    margin-left: auto;
    width: 45%;
    top: 50px;
    right: 120px;
    border: 2px solid $black;
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    max-width: 1200px;
    width: 100%;
    aspect-ratio: 1200 / 513;
    object-fit: cover;
    object-position: center;
    background-color: $blue;
  }

  &__side-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $black50;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1280px) {
  .intro__title {
    max-width: 581px;
    font-size: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {

    &__container {
      margin-bottom: 30px;
    }

    &__title {
      max-width: 100%;
      font-size: clamp(36px, 7vw, 60px);
    }

    &__border {
      display: none;
    }

    &__side-text {
      display: none;
    }

    &__wrap {
      flex-direction: column;
      gap: 30px;
    }
  }
}
