.intro {
  @include section;
  @include section-first;
  position: relative;

  &__container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 681px;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    color: $black50;
  }

  &__border {
    position: absolute;
    margin-left: auto;
    width: 45%;
    top: 50px;
    right: 120px;
    border: 2px solid $black;
  }

  &__image {
    max-width: 1200px;
    width: 100%;
    aspect-ratio: 1200 / 513;
    object-fit: cover;
    object-position: center;
    background-color: $blue;
  }


  &__side-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $black50;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
