.intro {
  @include section;
  @include section-first;
  position: relative;

  &__container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 60%;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    color: $black50;
  }

  &__border {
    position: absolute;
    margin-left: auto;
    width: 40%;
    top: 7%;
    right: 9%;
    border: 2px solid $black;
  }

  &__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    max-width: 1200px;
    width: 100%;
    aspect-ratio: 1200 / 513;
    object-fit: cover;
    object-position: center;
    background-color: $blue;
  }

  &__side-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $black50;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1280px) {
  .intro__title {
    max-width: 55%;
    font-size: 62px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {

    &__container {
      margin-bottom: 30px;
    }

    &__title {
      max-width: 50%;
      font-size: clamp(32px, 5vw, 52px);
    }

    &__side-text {
      font-size: 14px;
    }

    &__wrap {
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .intro {

    &__container {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
    }

    &__title {
      max-width: 80%;
    }

    &__border {
      display: none;
    }

    &__side-text {
      font-size: 10px;
      align-self: end;
      text-align: end;
      writing-mode: horizontal-tb;
      transform: none;
    }

    &__order {
      order: -1;
    }
  }
}
