include ../../../views/helpers/mixins

section.intro.page__section
  .intro__container
    h1.intro__title Design your interior with high quality.
    .intro__side-text
      span ALL RIGHT RESERVED
      span 2022
  .intro__border
  .intro__wrap
    img.intro__image(src='./img/page-home/main-banner.jpg' alt='Example of our design')
    +rectangle.rectangle_position_absolute
