.icon-social {
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: $lightgray;
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  transition: opacity .3s ease;

  &_facebook {
    background-image: url(../../../img/svg/icon-facebook.svg);
  }

  &_instagram {
    background-image: url(../../../img/svg/icon-instagram.svg);
  }

  &_tiktok {
    background-image: url(../../../img/svg/icon-tiktok.svg);
  }

  &_youtube {
    background-image: url(../../../img/svg/icon-youtube.svg);
  }
}

.icon-social:hover {
  opacity: .6;
}
