section.mistake
  p.mistake__subtitle 404
  h2.mistake__title Page not found
  .mistake__container
    span.mistake__text Sorry, this page does not exist or is temporarily unavailable.
    span.mistake__text
      |You can try again later,
      |#[a.mistake__link(href='#') go back],
      |or go to the
      |#[a.mistake__link(href='./') main page].
