section.section
  p.section__subtitle 404
  h2.section__title Page not found
  .section__container
    span.section__text Sorry, this page does not exist or is temporarily unavailable.
    span.section__text You can try again later, #[a(href='#') go back], or go to the #[a(href='/') main page].
