section.main-banner.page__section
  .main-banner__container
    h1.main-banner__title Design your interior with high quality.
    .main-banner__side-text
      span ALL RIGHT RESERVED
      span 2022
  .main-banner__border
  img.main-banner__image(src='./img/page-home/main-banner.png' alt='Example of our design')
  +rectangle.rectangle_position_absolute