.border-section {
  margin-bottom: 20px;
  width: 60%;
  display: flex;
  align-items: center;
  gap: 20px;

  &_image {
    margin-bottom: 40px;
  }

  &__text {
    margin: 0;
    font-family: $font-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    text-transform: uppercase;
  }

  &__border {
    flex: 1;
    border: 2px solid $black;
  }
}

@media screen and (max-width: 768px) {
  .border-section {
    width: 100%;
  }
}
