extends ../layouts/default
include ../../views/helpers/mixins

block variables
    - const title = "Dananz/About Us";

block content
  include ../../blocks/modules/about-us-title/about-us
  include ../../blocks/modules/about-us-achievement/achievement
  include ../../blocks/modules/shared-service/shared-service