extends ../layouts/default
include ../../views/helpers/mixins

block variables
    - const title = "Dananz/About Us";

block content
  +title-banner-about('About', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', './img/about-page/about-banner.png')
  include ../../blocks/modules/achievement-about/achievement-about