extends ../layouts/default

block variables
    - const title = "Dananz/Contact Us";

block content
  include ../../blocks/modules/contact-us-form/contact-us-form
  include ../../blocks/modules/contact-us-location/contact-us-location
