extends ../layouts/default

block variables
    - const title = "Dananz/Contact Us";

block content
  include ../../blocks/modules/contact-form/contact-form
  include ../../blocks/modules/contact-location/contact-location