extends ../layouts/default
include ../../views/helpers/mixins

block variables
    - const title = "Dananz/Minimalist Room";

block content
  include ../../blocks/modules/minimalist-title/minimalist
  include ../../blocks/modules/minimalist-info/minimalist-info
  include ../../blocks/modules/minimalist-foto/minimalist-foto
