extends ../layouts/default
include ../../views/helpers/mixins

block variables
    - const title = "Dananz/Portfolio";

block content
  include ../../blocks/modules/portfolio-title/portfolio
  include ../../blocks/modules/portfolio-list/portfolio-list
  include ../../blocks/modules/shared-service/shared-service
