extends ../layouts/default
include ../../views/helpers/mixins

block variables
    - const title = "Dananz/Services";

block content
  include ../../blocks/modules/services-title/services-title
  include ../../blocks/modules/services-achievement/services-achievement
  include ../../blocks/modules/shared-product/product