include ../../../views/helpers/mixins

section.achievement-about.page__section
  +border-section('Achievement')
  p.achievement-about__title interior customization with Danaanz, best quality with professional workers
  div.achievement-about__container
    img.achievement-about__image(src='./img/page-about-us/achievement-banner.png' alt='Example of our design')
    +rectangle