include ../../../views/helpers/mixins

section.about
  +border-section('About')
  blockquote.about__blockquote "We're one of the best furniture agency. Prioritizing customers and making purchases easy are the hallmarks of our agency."
  .about__container
    img.about__image(src='../../../img/home-page/about-banner.png' alt='Our design')
    +card-avatar('../../../img/card-avatar.png', 'Arga Danaan', 'CEO of Dananz', 'card-avatar__position_right')
    .about__info
      p.about__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
      +link-button('button__primary', 'Learn More', '#')