.location {
  @include section;

  &__columns {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &_main {
      min-width: 30%;
    }
  }

  &__container {
    display: flex;
    gap: 40px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &_small {
      gap: 10px;
    }
  }

  &__title {
    font-family: $font-semibold;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;

    &_big {
      font-size: 34px;
      line-height: 170%;
    }
  }

  &__subtitle {
    margin: 0;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $gray;
  }
}

@media screen and (max-width: 1170px) {

  .location {

    &__column {
      gap: 30px;
    }

    &__container {
      gap: 30px;
    }

    &__text {
      gap: 10px;
    }

    &__title {
      font-size: 22px;
      line-height: 100%;

      &_big {
        font-size: 28px;
      }
    }

    &__container {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 768px) {

  .location {

    &__columns {
      flex-direction: column;
      gap: 45px;
    }
  }
}
