extends layouts/default
include helpers/mixins

block variables
    - const title = "Dananz"

block content
  include ../blocks/modules/main-banner/main-banner
  include ../blocks/modules/about/about
  include ../blocks/modules/service/service
