extends layouts/default
include helpers/mixins

block variables
    - const title = "Dananz"

block content
  include ../blocks/modules/home-intro/intro
  include ../blocks/modules/home-about/about
  include ../blocks/modules/home-service/service
  include ../blocks/modules/shared-product/shared-product
  include ../blocks/modules/home-material/material
