.shared-service {
  @include section;

  &__columns {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__column {
    padding: 20px 27px 22px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.05);
  }

  &__icon {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    background-color: $lightgray;
  }

  &__title {
    font-family: $font-semibold;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
  }

  &__text {
    margin: 0;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $gray;
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .shared-service__columns {
    flex-wrap: wrap;
  }

  .shared-service__column {
    flex-basis: 368px;
  }

  .shared-service__title {
    font-size: 20px;
  }

  .shared-service__text {
    font-size: 16px;
  }
}
