.m-foto {
  @include section;
  display: grid;
  grid-template-areas:
    "top-left top-right"
    "middle middle"
    "bottom-left bottom-right";
  gap: 32px;

  &__image {
    width: 100%;
    aspect-ratio: 584 / 513;
    object-fit: cover;
    object-position: center;
    background-color: $blue;

    &_middle {
      grid-area: middle;
      aspect-ratio: 1200 / 513;
    }

    &_top-left {
      grid-area: top-left;
    }

    &_top-right {
      grid-area: top-right;
    }

    &_bottom-left {
      grid-area: bottom-left;
    }

    &_bottom-right {
      grid-area: bottom-right;
    }
  }
}

@media screen and (max-width: 768px) {
  .m-foto {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
