include ../../../views/helpers/mixins

mixin foto-grid(src, title)
  img.m-foto__image&attributes(attributes)(src=src alt=title)

section.m-foto.page__section
  +foto-grid('./img/page-minimalist-room/mr-interior-details_1.png', 'Interior details').m-foto__image_top-left
  +foto-grid('./img/page-minimalist-room/mr-interior-details_2.png', 'Interior details').m-foto__image_top-right
  +foto-grid('./img/page-minimalist-room/mr-interior-details_3.png', 'Interior details').m-foto__image_middle
  +foto-grid('./img/page-minimalist-room/mr-interior-details_4.png', 'Interior details').m-foto__image_bottom-left
  +foto-grid('./img/page-minimalist-room/mr-interior-details_5.png', 'Interior details').m-foto__image_bottom-right
