include ../../../views/helpers/mixins

section.accent
  h3.accent__slogan let's discuss making your interior like a dream place!
  span.accent__text Contact us below to work together to build your amazing interior
  +link-button('Contact Us', './contact-us.html').button_banner
