.mr-columns {
  @include section;
  width: 100%;
  display: flex;
  gap: 32px;
}

.mr-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    font-family: $font-semibold;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  &__text {
    margin: 0;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $gray;
  }
}

.mr-row {
  margin-top: 30px;
  display: flex;
  gap: 80px;
}
