include ../../../views/helpers/mixins

section.m-info.page__section
  .m-info__column
    h3.m-info__title Project Overview
    p.m-info__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    .m-info__row
      p.m-info__text July 22 - 2022
      p.m-info__text Interior Design - Furniture
  .m-info__column
    h3.m-info__title Design Process
    p.m-info__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    p.m-info__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
