section.mr-columns.page__section
  .mr-column
    h3.mr-column__title Project Overview
    p.mr-column__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    .mr-row
      p.mr-column__text July 22 - 2022
      p.mr-column__text Interior Design - Furniture
  .mr-column
    h3.mr-column__title Design Process
    p.mr-column__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
    p.mr-column__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
