include ../../../views/helpers/mixins

section.about-achievement.page__section
  +border-section('Achievement')
  p.about-achievement__title interior customization with Danaanz, best quality with professional workers
  div.about-achievement__container
    img.about-achievement__image(src='./img/page-about-us/achievement-banner.png' alt='Example of our design')
    +rectangle