include ../../../views/helpers/mixins

section.achievement.page__section
  +border-section('Achievement')
  p.achievement__title interior customization with Danaanz, best quality with professional workers
  div.achievement__container
    +rectangle.achievement__rectangle
    img.achievement__image(src='./img/page-about-us/achievement-banner.jpg' alt='Example of our design')
