include ../../../views/helpers/mixins

section.about.page__section
  +border-section('About')
  blockquote.about__blockquote "We're one of the best furniture agency. Prioritizing customers and making purchases easy are the hallmarks of our agency."
  .card
    img.card__image(src='./img/page-home/about-banner.png' alt='Example of our design')
    .card__info
      +card-avatar('./img/card-avatar.png', 'Arga Danaan', 'CEO of Dananz').card-avatar_position_right
      p.card__text Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.
      +link-button('Learn More', '/our-teams.html').button_primary
