.designer {
  @include section;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 24px;
  }

  &__item {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__foto {
    display: block;
    width: 100%;
    aspect-ratio: 282 / 386;
    object-fit: cover;
    object-position: center;
    background-color: $blue;
  }

  &__card {
    margin-top: -107px;
    width: 92%;
    box-sizing: border-box;
    padding: 18px;
    background-color: $white;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-semibold;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  &__subtitle {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1024px) {
  .designer__list {
    margin-bottom: 20px;
  }
}
