.rectangle {
  box-sizing: border-box;
  padding: 40px 48px 44px;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  gap: 57px;

  &_position_absolute {
    position: absolute;
    top: -30%;
    right: 10%;
  }

  &__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
  }

  &__title {
    margin: 0;
    font-family: $font-primary;
    font-weight: 400;
    font-size: clamp(24px, 3vw, 52px);
    line-height: 160%;
  }

  &__subtitle {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
}

@media screen and (max-width: 780px) {
  .rectangle {
    padding: 20px 28px 24px;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    order: -1;

    &_position_absolute {
      position: static;
    }
  }
}

@media screen and (max-width: 600px) {
  .rectangle {
    flex-direction: column;
    order: 1;
  }
}
