include ../../../views/helpers/mixins

mixin service-item(number, title, url)
  li.service__item
    a(href=url).service__container
      span.service__number= number
      span.service__grow= title
      .service__arrow

section.service.page__section
  +border-section('Service')
  +heading('attractive furniture with the best quality.', 'Customize your interior design into a dream place with the best designers and quality furniture. We try our best to fulfill your expectations.')
  div.service__wrap
    ul.service__list
      +service-item('01', 'Interior Design', './services.html')
      +service-item('02', 'Consultant', './services.html')
      +service-item('03', 'Construction Consultant', './services.html')
    img.service__image(src='./img/page-home/service-banner.jpg' alt='Example of our design')
