.service {
  @include section;
  min-height: 829px;
  background-image: url("/img/page-home/service-banner.png");
  background-position: right 25% bottom;
  background-repeat: no-repeat;
  background-size: 1076px 525px;

  &__list {
    width: 74%;
    background-color: $white;
    box-sizing: border-box;
    padding: 40px 40px 40px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__item {
    font-family: $font-semibold;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  &__container {
    cursor: pointer;
    color: $black50;
    text-decoration: none;
    display: flex;
    gap: 40px;

    &_number {
      min-width: 30px;
      display: block;
    }

    &_grow {
      flex: 1;
    }

    &_arrow {
      width: 32px;
      height: 32px;
      background-position: center;
      background-size: 32px 32px;
      background-image: url("/img/svg/icon-arrow.svg");
      background-repeat: no-repeat;
    }
  }
}
