.service {
  @include section;

  &__wrap {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
  }

  &__list {
    grid-column: span 12;
    background-color: $white;
    box-sizing: border-box;
    padding: 0 40px 40px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__image {
    z-index: -1;
    margin-top: -150px;
    width: 100%;
    aspect-ratio: 1076 / 515;
    grid-column: 3 / 17;
  }

  &__item {
    font-family: $font-semibold;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
  }

  &__container {
    cursor: pointer;
    color: $black50;
    text-decoration: none;
    display: flex;
    gap: 40px;
  }

  &__number {
    min-width: 30px;
    display: block;
  }

  &__grow {
    flex: 1;
  }

  &__arrow {
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: 32px 32px;
    background-image: url(../img/svg/icon-arrow.svg);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1024px) {
  .service__list {
    grid-column: span 14;
  }

  .service__image {
    margin-top: -140px;
  }

  .service__item {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .service__list {
    grid-column: span 17;
    padding: 0;
  }

  .service__container {
    gap: 20px;
  }

  .service__image {
    margin-top: 35px;
    grid-column: span 17;
    grid-row: 2;
  }
}
