include ../../../views/helpers/mixins

mixin services-achievement-row(src, title, subtitle)
  .services-achievement__row
    img.services-achievement__image(src=src alt=title)
    h3.services-achievement__title= title
    p.services-achievement__subtitle= subtitle

section.services-achievement.page__section
  +border-section('Achievement').border-section__image
  .services-achievement__list
    +services-achievement-row('./img/page-services/services-list_1.png', 'Interior design', 'Customize your interior design into a dream place with the best designers and quality furniture. We try our best to fulfill your expectations.')
    +services-achievement-row('./img/page-services/services-list_2.png', 'Consultant', 'Customize your interior design into a dream place with the best designers and quality furniture. We try our best to fulfill your expectations.')
    +services-achievement-row('./img/page-services/services-list_3.png', 'Construction consultant', 'Customize your interior design into a dream place with the best designers and quality furniture. We try our best to fulfill your expectations.')