.footer {
  display: flex;
  justify-content: space-between;

  &__column {
    display: flex;
    flex-direction: column;

    &_logo {
      max-width: 481px;
      gap: 9px;

      .slogan {
        font-family: $font-semibold;
        font-weight: 600;
        font-size: 36px;
        line-height: 170%;
      }
    }

    &_info {
      max-width: 440px;
      display: flex;
      gap: 40px;

      .footer-form {
        position: relative;
        padding-bottom: 15px;
        border-bottom: 1px solid $black70;
        display: flex;
        flex-direction: column;
        gap: 23px;

        &__label {
          padding-left: 24px;
          font-family: $font-primary;
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
          background-position: left;
          background-size: 14px 14px;
          background-image: url(../img/svg/icon-circle.svg);
          background-repeat: no-repeat;
        }

        &__input {
          width: 85%;
          border: 0;
          background-color: transparent;
          font-family: $font-primary;
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
        }

        &__input:focus {
          outline-color: $black30;
        }

        &__input::placeholder {
          font-family: $font-primary;
          font-weight: 400;
          font-size: 18px;
          line-height: 160%;
          color: $lightgray;
        }

        &__btn {
          position: absolute;
          bottom: 25px;
          right: 0;
          padding: 0;
          border: 0;
          width: 25px;
          height: 15px;
          background-color: transparent;
          background-image: url(../img/svg/footer-button.svg);
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }

      .footer-social {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__heading {
          font-family: $font-primary;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
        }

        &__list {
          list-style: none;
          display: flex;
          gap: 20px;
        }

        .icon-social {
          cursor: pointer;
          width: 35px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: $lightgray;
          transition: opacity .3s ease;

          &__img {
            width: 26px;
            height: 26px;
          }
        }

        .icon-social:hover {
          opacity: .6;
        }
      }
    }
  }
}
