footer.footer.page__footer
    .footer__column.footer__column_logo
        include ../../components/logo/logo
        h2.slogan One of the best furniture agency.
    .footer__column.footer__column_form
        form.form(name='subscription' novalidate)
            label.form__label Enter  your email to get the latest news