mixin icon(src, alt)
  li
    a(href='#').icon-social
      img.icon-social__img(src=src alt=alt)

footer.footer.page__footer
  .footer__column.footer__column_logo
    include ../../components/logo/logo
    h3.slogan one of the best furniture agency.
  .footer__column.footer__column_info
    form.footer__form(name='subscription' novalidate)
      label.footer__form_label Enter  your email to get the latest news
      input.footer__form_input(type='email' name='email' placeholder='Email Address')
      button.footer__form_btn(type='submit' aria-label='Подписаться на рассылку')
    nav.footer__social
      h4.footer__social_heading Follow us On
      ul.footer__social_list
        +icon('./img/svg/icon-facebook.svg', 'Facebook')
        +icon('./img/svg/icon-instagram.svg', 'Instagram')
        +icon('./img/svg/icon-tiktok.svg', 'Tiktok')
        +icon('./img/svg/icon-youtube.svg', 'Youtube')
