.main-banner {
  @include section;
  position: relative;
  margin-top: 50px;

  &__container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 681px;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    color: $black50;
  }

  &__border {
    position: absolute;
    margin-left: auto;
    width: 45%;
    top: 50px;
    right: 120px;
    border: 2px solid $black;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1200 / 513;
    object-fit: cover;
    object-position: center;
  }

  &__rectangle {
    position: absolute;
    top: 165px;
    right: 285px;
    box-sizing: border-box;
    padding: 40px 48px 44px;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    gap: 57px;

    .rectangle__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
    }

    .rectangle__title {
      margin: 0;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 52px;
      line-height: 160%;
    }

    .rectangle__subtitle {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
    }
  }

  &__side-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $black50;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
}
