section.main-banner
  h1.main-banner__title Design your interior with high quality.
  .main-banner__border
  .main-banner__rectangle
    .rectangle__row
      p.rectangle__title 350+
      span.rectangle__subtitle Project Completed
    .rectangle__row
      p.rectangle__title 23+
      span.rectangle__subtitle Professional Teams
    .rectangle__row
      p.rectangle__title 15+
      span.rectangle__subtitle Years Experience
  .main-banner__side-text
    span 2022
    span ALL RIGHT RESERVED
