.main-banner {
  @include section;
  position: relative;
  margin-top: 50px;
  min-height: 862px;
  background-image: url(../../../img/home-page/main-banner.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1200px 513px;

  &__title {
    max-width: 681px;
    font-family: $font-bold;
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
    color: $black50;
  }

  &__border {
    position: absolute;
    margin-left: auto;
    width: 45%;
    top: 50px;
    right: 120px;
    border: 2px solid $black;
  }

  &__rectangle {
    position: absolute;
    top: 140px;
    right: 262px;
    box-sizing: border-box;
    padding: 40px 48px 44px;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    gap: 57px;

    .rectangle__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
    }

    .rectangle__title {
      margin: 0;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 52px;
      line-height: 160%;
    }

    .rectangle__subtitle {
      font-family: $font-primary;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
    }
  }

  &__side-text {
    position: absolute;
    top: 180px;
    right: 60px;
    display: flex;
    flex-direction: column;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $black50;
    transform: rotate(-90deg);
  }
}
